/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.output}/pipeline_info" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.output}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }
}   

if(params.folder) { 
    process{
        withName: FOLDER_CHECK {
            publishDir = [
                path: { "${params.output}/pipeline_info" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }                
            ]
        }
    }

    process{
        withName: BUILD_SHEET {
            publishDir = [
                path: { "${params.output}/pipeline_info" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> null }                
            ]
        }
    }
}

process {
    withName: CHECK_SHEET {
        publishDir = [
                [
                    path: { "${params.output}/fastq" },
                    mode: params.publish_dir_mode,
                    pattern: "*.gz"
                ],
                [
                    path: { "${params.output}/pipeline_info" },
                    mode: params.publish_dir_mode,
                    pattern: "*.csv"
                ],
                [
                    path: { "${params.output}/pipeline_info" },
                    mode: params.publish_dir_mode,
                    pattern: "*.yml",
                    saveAs: null
                ]
            ]
    }
}


